enableRobotsTXT: true

outputs:
  home:
    - DecapCMSConfig
    - HTML
    - Offline
    - SearchIndex
    - RSS
    - WebAppManifest

taxonomies:
  _merge: shallow

markup:
  _merge: deep

build:
  _merge: shallow

caches:
  _merge: deep

menus:
  _merge: deep

module:
  imports:
    - path: github.com/hugomods/site/common

params:
  hb:
    header:
      logo: false
      brand: Images
      git_repo:
        service: github
        owner: hugomods
        name: images
    content_panel:
      repo:
        subpath: images

baseURL: https://images.hugomods.com/

languages:
  _merge: deep

  en:
    title: Hugo Images Module | HugoMods
    # baseURL: https://images.hugomods.com/
    params:
      description: Markdown-friendly module that process images via URL query string and fragment ID, such as align, resize, crop and more.
      hb:
        footer:
          site_title: HugoMods
          site_description: Third party Hugo modules and tools for building fast, modular, modern themes and static websites.

  zh-hans:
    title: Hugo 图片模块 | HugoMods
    # baseURL: https://zh-hans.images.hugomods.com/
    params:
      description: 对 Markdown 友好的模块，其可通过 URL 查询字符串和片段 ID 处理图片，如对齐、调整大小、裁剪等。
      hb:
        footer:
          site_title: HugoMods
          site_description: 用于构建快速、模块化和现代化的主题和静态网站的第三方 Hugo 模块和工具。

  zh-hant:
    title: Hugo 圖片模塊 | HugoMods
    # baseURL: https://zh-hant.images.hugomods.com/
    params:
      description: "對 Markdown 友好的模塊，其可通過 URL 查詢字符串和片段 ID 處理圖片，如對齊、調整大小、裁剪等。"
      hb:
        footer:
          site_title: HugoMods
          site_description: 用於構建快速、模塊化和現代化的主題和靜態網站的第三方 Hugo 模塊和工具。

security:
  _merge: deep

server:
  _merge: deep
