{{- $params := .Get 0 | .Page.Resources.GetMatch | transform.Unmarshal }}
{{- $params = sort $params "name" }}
{{- $sortedParams := sort (where $params "position" ">=" 0) "position" }}
{{- $params = $sortedParams | append $params | uniq }}
{{- range $params }}
{{- $type := default "string" .type }}
{{- $required := default false .required }}
{{- $position := default "" }}
{{- if isset . "position" }}{{ $position = printf "%d" .position }}{{ end }}
### `{{ .name }}`

| Position | Name | Type | Default | Required | {{ with .options }} Options |{{ end }}
| :------: | :--: | :--: | :-----: | :------: | {{ with .options }} :-----: |{{ end }}
| {{ with $position }}`#{{ . }}`{{ else }}-{{ end }} | `{{ .name }}` | `{{ $type }}` | {{ if isset . "default" }}`{{ .default }}`{{ else }}-{{ end }} | {{ cond $required "Y" "-"}} | {{ with .options }}`{{ delimit . "`, `" }}`{{ end }} |

{{ .desc }}
{{- end }}
