enableRobotsTXT: true

outputs:
  home:
    - DecapCMSConfig
    - HTML
    - Offline
    - SearchIndex
    - RSS
    - WebAppManifest

taxonomies:
  _merge: shallow

markup:
  _merge: deep

build:
  _merge: shallow

caches:
  _merge: deep

menus:
  _merge: deep

module:
  imports:
    - path: github.com/hugomods/site/common

params:
  hb:
    header:
      logo: false
      brand: Kroki
      git_repo:
        service: github
        owner: hugomods
        name: kroki
    content_panel:
      repo:
        subpath: kroki

baseURL: https://kroki.hugomods.com/

languages:
  _merge: deep

  en:
    title: Hugo Kroki Module | HugoMods
    # baseURL: https://kroki.hugomods.com/
    params:
      description: Leverage the power of Kroki to create diagrams from textual descriptions and present them as inline SVGs and images without JavaScript.
      hb:
        footer:
          site_title: HugoMods
          site_description: Third party Hugo modules and tools for building fast, modular, modern themes and static websites.

  zh-hans:
    title: Hugo Kroki 模块 | HugoMods
    # baseURL: https://zh-hans.kroki.hugomods.com/
    params:
      description: 利用 Kroki 的强大功能，从文本描述中创建图表，并以内联 SVG 和图片形式呈现，无需 JavaScript。
      hb:
        footer:
          site_title: HugoMods
          site_description: 用于构建快速、模块化和现代化的主题和静态网站的第三方 Hugo 模块和工具。

  zh-hant:
    title: Hugo Kroki 模塊 | HugoMods
    # baseURL: https://zh-hant.kroki.hugomods.com/
    params:
      description: 利用 Kroki 的強大功能，從文本描述中創建圖表，並以內聯 SVG 和圖片形式呈現，無需 JavaScript。
      hb:
        footer:
          site_title: HugoMods
          site_description: 用於構建快速、模塊化和現代化的主題和靜態網站的第三方 Hugo 模塊和工具。

security:
  _merge: deep

server:
  _merge: deep
