enableRobotsTXT: true

outputs:
  home:
    - DecapCMSConfig
    - HTML
    - Offline
    - SearchIndex
    - RSS
    - WebAppManifest

taxonomies:
  _merge: shallow

markup:
  _merge: deep

build:
  _merge: shallow

menus:
  _merge: deep

module:
  imports:
    - path: github.com/hugomods/site/common

params:
  hb:
    header:
      logo: false
      brand: PWA
      git_repo:
        service: github
        owner: hugomods
        name: pwa
    content_panel:
      repo:
        subpath: pwa

languages:
  _merge: deep

  en:
    title: Hugo PWA Module | HugoMods
    baseURL: https://pwa.hugomods.com/
    params:
      description: Provides powerful features for Hugo site, such as adding sites to the homepage, offline available, resources precaching, and more.
      hb:
        footer:
          site_title: HugoMods
          site_description: Third party Hugo modules and tools for building fast, modular, modern themes and static websites.

  zh-hans:
    title: Hugo PWA 模块 | HugoMods
    baseURL: https://zh-hans.pwa.hugomods.com/
    params:
      description: PWA 为 Hugo 站点提供更强大的功能，比如添加站点到主页、离线可用、预缓存资源等。
      hb:
        footer:
          site_title: HugoMods
          site_description: 用于构建快速、模块化和现代化的主题和静态网站的第三方 Hugo 模块和工具。

  zh-hant:
    title: Hugo PWA 模塊 | HugoMods
    baseURL: https://zh-hant.pwa.hugomods.com/
    params:
      description: PWA 為 Hugo 站點提供更強大的功能，比如添加站點到主頁、離線可用、預緩存資源等。
      hb:
        footer:
          site_title: HugoMods
          site_description: 用於構建快速、模塊化和現代化的主題和靜態網站的第三方 Hugo 模塊和工具。

security:
  _merge: deep

server:
  _merge: deep
