{{- $params := .Get 0 | .Page.Resources.GetMatch | transform.Unmarshal }}
{{- range $params }}
{{- $type := default "string" .type }}
{{- $required := default false .required }}
{{- $position := default "" }}
{{- if isset . "position" }}{{ $position = printf "%d" .position }}{{ end }}
### `{{ .name }}`

| Position | Type | Default | Required |
| :------: | :--: | :-----: | :------: |
| {{ with $position }}`#{{ . }}`{{ else }}-{{ end }} | `{{ $type }}` | {{ with .default }}`{{ . }}`{{ else }}-{{ end }} | {{ cond $required "Y" "-"}} |

{{ .desc }}
{{- end }}
